@media only screen and (min-width: 38em) {
    /* header */
    nav {
        /* margin-left: auto; */
        grid-column: 3/4;
    }
    .spacer {
        flex: 1;
    }
    .navigation li {
        margin: 10px;
        padding: 5px;
    }
    .navigation li a {
        background-color: rgba(52, 122, 175, 1);
        border-radius: 10px;
    }
    .navigation li a:hover {
        background-color: white;
        border-radius: 10px;
        color: rgba(52, 122, 175, 1);
    }

    /* main */
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hero, .news, .spotlight, .join, .gallery, #gallery-title {
        width: 100%;
    }
    .spotlight {
        margin-bottom: 0em;
        display: flex;
        flex-direction: row;
    }
    .spotlight-1, .spotlight-2 {
        flex: 1 1 100%;
        margin-bottom: 1em;
    }
    .spotlight-2 {
        margin-left: 0em;
    }
    .join {
        display: block;
        text-align: center;
    }
    .join a {
        text-decoration: none;
    }
    .join p {
        padding: 10px 1em;
    }
    .join a p {
        background-color: #F1E2BD;
        margin: 10px 4em;
        border-radius: 15px;
        box-shadow: 10px 5px 5px black;
        border: 1px solid black;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 25px;
    }
    .event {
        order: 1;
        flex: 52%;
        margin: 1em 1em;
    }
    .weather {
        order: 1;
        flex: 26%;
        margin-left: 0em;
        margin-bottom: 1em;
        margin-right: 1em;
    }

    .city-highlight {
        transition: transform .2s;
    }
    .city-highlight:hover {
        transform: scale(1.04);
    }

    /* footer */
    .footer-bottom {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
    }
    #copyright, #name, #project {
        flex-basis: initial;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-right: 1px solid white;
    }
}